@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

#backg {
    display: block;
    width: 100%;
  }



/*--- Navigation --*/
.navbar {
    text-transform: uppercase;
    font-weight: 700;
    font-size: .9rem;
    letter-spacing: .15rem;
}
nav.navbar {
background: rgba(0,0,0,0.6)!important;
}
.navbar-brand {
color: #1EFE37!important;
padding-left: .7rem;
}
.navbar-nav li {
padding-right: .7rem;
padding-left: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
color: #fff!important;
padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link:active,
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
color: #1EFE37!important;
}
.offset {
    margin-top: 4rem;
}


/*-- Landing --*/
.carousel-inner img {
    width: 100%;
    height: auto;
}
.landing .carousel-caption {
    height: 100%;
    width: 100%;
    left: 0%;
    right: 0%;
    padding-top: 8rem;

  }

/*--- Cards --*/
.card {
    margin: 1rem;
    background-color: #f2f2f2;
    color: black;
    box-shadow: 0 0 16px black;
}

.card .card-body {
    padding: 0;
}

.card h5 {
    color: black;
    font-size: 1.6rem;
    font-weight: 700;
    padding-top: 1rem;
    margin-bottom: .2rem;
}
.card-category {
    display: inline-block;
    margin: .2rem!important;
    padding: .2rem .6rem!important;
    background-color: coral;
    color: cornsilk;
    border-radius: 13px;
}
.card-category p{
    display: inline;
    font-size: .9rem;
}
.card-category i{
    display: inline;
    color: black;
    padding-right: .4rem;
}
.card-text {
    margin-bottom: .2rem;
}

.card .btn-outline-secondary {
    border: 2px solid black;
    padding: .3rem 5rem!important;
    color: black;
    font-weight: 700;
    font-size: 1.2rem;
    letter-spacing: .1rem;
    margin-bottom: .4rem;
    box-shadow: 0 0 2px black;
}
.card .btn-outline-secondary:hover {
    border: 2px solid black;
    background-color: #1EFE37;
    box-shadow: 0 0 2px #1EFE37;
    color: black;

}

/*--- Filter --*/

.jumbotron {

    background-color: black!important;
    padding-top: 4.4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-bottom: .5rem;
}


.jumbotron .form-check {
    display: inline-block;
    padding-top: .2rem;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: .4rem;
    border-radius: 13px;
    background-color: coral;
    color: white;
    margin: 0 .5rem;
    box-shadow: 0 0 4px black;
}
.jumbotron .form-check i{
    color: black;
    padding-left: .5rem;
    display: inline;
}

.writeup .navbar {
    background-color: black!important;

}
.writeup .nav .nav-link {
    color: white!important;
    font-size: 1.4rem;
    font-weight: 600;

}
.writeup .nav .nav-link:active,
.writeup .nav .nav-link:focus,
.writeup .nav .nav-link:hover {
    color: #1EFE37!important;
    background-color: black;

}

.writeup .nav .nav-link.level-2 {
    color: white!important;
    font-size: 1rem;
    margin-left: 2rem;
    padding-left: 1rem;
    font-weight: 500;

}
.writeup .nav .nav-link.level-3 {
    color: white!important;
    font-size: 1rem;
    margin-left: 5rem;
    padding-left:1rem;
    font-weight: 500;

}

.writeup .nav-header {
    color: #ffffff;
    font-size: 2.8rem;
    padding: .6rem 1rem 0 1rem;
    font-weight: 700;
    letter-spacing: .1rem;
    text-decoration: none;
    transition: 0.2s;
}
.writeup .nav-header:hover {
    color: #1EFE37;
}

hr {
    color: white;
}
.content {
    background-color: #262626;
    color: white;
}
.content h1 {
    color: #1EE5FE;
    font-weight: 700;
    letter-spacing: .1rem;
}
.content h3 {
    color: #1AC8DE;
}
.content h5 {
    color: #138F9F;
    font-size: 1.8rem;
}

.scrollspy {
    height:max-content;
    overflow-y:scroll;
    position: relative!important;
}

.writeup-container {
    height: 200px;
}

.writeup-landing {
    display: block;
    width: 100%!important;
    height: auto;

}
.code-snippet {
    display: inline-block;
    padding: .4rem 1rem!important;
    background-color: black;
    border-radius: 10px;
    color: #1EFE37;
    letter-spacing: .05rem;
    
}
.code-snippet.inline{
    display: inline;
    margin: 0!important;
    padding: 0 .5rem!important;
    
}

.hint {
    background-color: #6b6b6b;
    border-radius: 10px;
    padding: .4rem 1rem!important;
    display: inline-block;
    color:white;
}

#writeup-robot {
    position: relative!important;
    overflow-y:scroll;
    height: fit-content;
}